body {
    font-family: Arial, sans-serif; /* Set the font family for text */
    background-image: url('/css/_\ \(2\).jpeg'); /* Ser background image */
    background-size: cover; /* Change to cover to fill the background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */

}



/* Styking for the main containr */

.container {
    max-width: 600px; /* Set maximum width for the container */
    margin: 0 auto;  /* Center the container horizontally */
    text-align: center; /* Centre align text within the container */
    padding: 20px; /* Add padding around the container */
}

/* Styling for the main heading */
h1 {
    color: black; /* Set text color */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Set font family */
    font-size: 36px; /* Set font size */
    font-weight: bold;  /* Set font weight to bold */
    text-transform: uppercase;  /* Convert text to uppercase */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for effect */
    letter-spacing: 2px; /* Add spacing between letters */
    text-decoration: underline; /* Underline the text */
    background-color: #f0f0f0; /* Set background color */
    padding: 10px 20px; /* Add padding around the text */
    border: 2px solid #333; /* Add border around the text */
}

#cocktailInfo {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif; 
    font-style: italic; 
    color:black; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
