body {
    font-family: Arial, sans-serif; /* Set the font family for text */
    background-image: url('/css/_\ \(2\).jpeg'); /* Ser background image */
    background-size: cover; /* Change to cover to fill the background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */

}



/* Styking for the main containr */

.container {
    max-width: 600px; /* Set maximum width for the container */
    margin: 0 auto;  /* Center the container horizontally */
    text-align: center; /* Centre align text within the container */
    padding: 20px; /* Add padding around the container */
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 2px; 
    text-decoration: underline; 
    background-color: #f0f0f0; 
    padding: 10px 20px;
    border: 2px solid #333; 
}

#cocktailInfo {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif; 
    font-style: italic; 
    color:black; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
